.App {
  text-align: center;
}
body,#root,html{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;;
height: 100%;
overflow: hidden;
} 
*::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, label {
  text-shadow: rgb(255 215 77 / 60%) -1px -1px 6px, rgb(124 127 255 / 60%) 1px 1px 6px;
  overflow-wrap: break-word;
  font-family: 'Alfa Slab One', cursive;       
}
h2 {
  font-size: 88px;
  line-height: 96px;
}
#root::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  background: linear-gradient(
    rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(0,0,0,0.3),
    rgba(0,0,0,0)
  );
  pointer-events: none;
  z-index: -1;
} 